{% extends 'base.html' %}
{% block primary %} {# this block will be injected into the placeholder in base.html, naming is important #}
{# variables are passed to templates through RequestContext in views.py #}
{% if chorelists %}
<ul class="lsit-group">
    {% for chorelist in chorelists %}
        <li class="list-group-item"><a href="/chores/{{chorelist.id}}/">{{chorelist.name}}</a></li>
    {% endfor %}    
</ul>

{% else %}
    <p> No chorelists are currently available. </p>
{% endif %}

<a type="button" class="btn btn-primary" href="./newlist/">Create New List</a>
{% endblock %}